.TodoForm{
    width: 70%;
    height: 50%;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TodoForm textarea{
    height: 190px;
    min-width: 250px; 
    max-width: 250px;
    min-width: 190px;
    max-height: 190px;
    padding: 15px;
    border: 0;
    font-size: 16px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 20px -20px 60px #d9d9d9,
                inset -20px 20px 60px #ffffff;
}