.CreateTodoButton {
  border-radius: 50px;
  background: linear-gradient(154deg, #50b104, #449504);
    box-shadow: 2px 3px 9px #408c03, -1px -1px 15px #56be05;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    z-index: 20;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
  
    transform: rotate(0);
    transition: .3s ease;
  }
  
.CreateTodoButton:hover {
transform: rotate(224deg);
}