.TodoSearch {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #202329;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #d9d9d9,
            inset -20px -20px 60px #ffffff;
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  }